* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diagonal-split {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e70a02;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%);
}

.border1 {
    display: flex;
    border: solid 2px;
    border: none;
    height: 500px;
    width: 1050.7px;
    background-color: white;
    padding: 100px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.doctor {
    height: 100%; /* Make the image fill the entire height of the .border1 container */
    width: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the area */
}
