* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 2px rgba(143, 143, 143, 0.3); 
    place-items: center;
    position: sticky;
    z-index: 999;
}

.logo1{
    width: 95px;
    margin-left: 77px;
}

nav ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 60px;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 40px;
    font-weight: 500;
}

nav ul li{
    list-style: none;
}

nav ul a{
    position: relative;
    text-decoration: none;
    color: black;
    transition: red 0.3s;
}

ul a:hover{

    transform: scale(1.1);
} 

ul a:before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #E70A02;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

ul a:hover:before{
    transform: scaleX(1);
}

.login-button{
    background-color: rgb(253, 253, 253); 
    border: rgb(175, 175, 175) solid 1.5px;
    color: rgb(0, 0, 0);                           
    width: 90px;
    height: 40px;
    text-align: center;        
    text-decoration: none;     
    display: inline-block;     
    font-size: 16px;          
    margin-right: 20px;          
    cursor: pointer;           
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif;  
    font-weight: 500;
}

.login-button:hover{
    background-color: #f04a45;
    color: white;
}

.register-button{
    background-color: #E70A02; 
    border: none;
    color: white;                           
    width: 90px;
    height: 40px;
    text-align: center;        
    text-decoration: none;     
    display: inline-block;     
    font-size: 16px;          
    margin-right: 75px;          
    cursor: pointer;           
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}

.register-button:hover{
    background-color: rgb(26, 26, 26);
    border: rgb(175, 175, 175) solid 1.5px;
    color: rgb(245, 245, 245); 
}


/* background */
.diagonal-split {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e70a02;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%);
}


.border1 {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 77%;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 72px;
    box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.5);

}

.image-container {
    width: 35%;
}

.doctor {
    width: 115%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the space nicely */
}

.form-container {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 80px;
}

h2 {
    font-size: 26px;
    color: #000000;
    margin-bottom: 40px;
}

p {
    font-size: 16px;
    color: #000000;
    opacity: 60%;
    margin-bottom: 30px;
}

.code-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}

.code-inputs input {
    width: 45px;
    height: 42px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #999999;
    margin-top: 20px;
}

#popupBtn {
    background-color: #e70a02;
    color: white;
    padding: 8px 90px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

#popupBtn:hover{
    background-color: #f5261e;
}

.resend-code {
    color: #e70a02;
    text-decoration: none;
    font-size: 14px;
    padding-top: 30px;
}

.resend-code:hover {
    text-decoration: underline;
}

.popup p{
    color: black;
}
