* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

.diagonal-split {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e70a02;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%);
}

.border1 {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 77%;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 72px;
    box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.5);

}

.image-container {
    width: 35%;
}

.doctor {
    width: 115%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the space nicely */
}

.form-container {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lock {
    width: 40px;
}

h2 {
    font-size: 22px;
    color: #000000;
    padding-top: 20px;
}

p{
    padding-top: 30px;
    font-size: 16px;
}

/* form */


.input-group {
    margin-top: 40px;
    text-align: left;
}

.input-group label {
    font-size: 15px;
    color: #777;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

.input-group input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.send-button {
    background-color: #e70a02;
    color: white;
    padding: 8px 70px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
}

.send-button:hover{
    background-color: #f5261e;
}
